<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,106},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,206},{14,16}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,50},{14,16}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,38},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,41},{36,38}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{40,34}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{40,34}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,854},{50,50}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{50,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,794},{58,56}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{68,64}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,29},{68,64}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{76,70}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{76,70}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,186},{82,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{82,76}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,930},{86,80}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{86,80}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,930},{86,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,20},{86,82}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,930},{88,84}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{88,84}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,692},{90,86}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{90,86}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{94,88}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{94,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,94},{96,88}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{96,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{98,88}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{98,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,206},{100,90}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{100,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{102,92}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{102,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{106,94}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{106,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{108,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{108,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{110,98}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{110,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,104},{112,100}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{112,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{112,102}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{112,102}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,104}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{114,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{114,100}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{114,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{114,100}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{114,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,102}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{114,102}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,104},{106,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,206},{96,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{96,104}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{90,98}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{90,98}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{90,100}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{90,100}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,452},{90,92}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{90,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,390},{90,94}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,446},{90,92}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{90,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,368},{90,94}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,360},{90,94}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,354},{90,94}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,270},{90,94}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,304},{90,94}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,94},{90,96}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{90,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,92},{90,96}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{90,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{90,96}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{90,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,298},{90,94}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,94},{88,96}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{88,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,270},{86,94}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{86,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,396},{88,94}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{88,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,460},{86,92}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{86,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,696},{86,90}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{86,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{84,88}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{84,88}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,712},{80,90}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,6},{80,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,850},{78,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{78,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,794},{78,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{78,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,780},{78,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{78,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,770},{78,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{78,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,702},{80,90}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{80,90}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,688},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,630},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,626},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,620},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,614},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,610},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,606},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,548},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,544},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,538},{80,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{80,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,530},{82,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{82,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,526},{82,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{82,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,446},{82,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{82,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,482},{82,92}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{82,92}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,522},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,442},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,362},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,462},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,438},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,358},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,366},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,354},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,270},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,270},{82,94}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{82,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,270},{82,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{82,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,184},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,184},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,210},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,192},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,184},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,106},{84,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,186},{82,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{82,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,278},{80,96}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{80,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,296},{70,96}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{70,96}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>explosion1_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,558},{70,94}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{70,94}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Explosion-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc09c9bbe140cca038088a9b04c2d149$</string>
            <key>textureFileName</key>
            <string>Explosion-hd.png</string>
        </dict>
    </dict>
</plist>
