<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black Hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,126},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>Planet_0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,190},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Planet_0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,76},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>Planet_0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,196},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>Planet_0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>Planet_1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Planet_1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Planet_1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>Planet_1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,114},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>Planet_2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Planet_2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,164},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>Planet_2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>Planet_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,76},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>Planet_3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,132},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Planet_3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,180},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Planet_3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,82},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>Planet_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Portal_Horz_Beam0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,300},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_Beam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,296},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_Beam2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,276},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_Beam3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,266},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_Beam_Flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,244},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_EndCap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,218},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_EndCap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,294},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_EndCap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,290},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_EndCap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,246},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_StartCap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,248},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_StartCap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,242},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_StartCap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,228},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Horz_StartCap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,180},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>Portal_Vert_Beam0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,218},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_Beam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,240},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_Beam2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,218},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_Beam3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_Beam_Flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,320},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_EndCap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_EndCap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,294},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_EndCap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,268},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_EndCap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_StartCap0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_StartCap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,274},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_StartCap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,248},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>Portal_Vert_StartCap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,242},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:338874d020bfa1ae9b5082120d6c62ce$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.png</string>
        </dict>
    </dict>
</plist>
